@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Inter';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background:-webkit-linear-gradient(left, #06ffda, #9debdf);
}
#main{
    width: 571px;
    height: 750px;
    left: 30%;
    top: 40px;
    background: #FFFFFF; 
}
.accueil>.head{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
}
/* le titre Java scipt Quiz */
#main h1{
    margin: 70px 0 0 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #555555;
}

.accueil p{
    margin: 20px 40px 40px 20px;
    padding: 0 25px 0 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #555555;
}
.columns{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.columns>.column{
    padding: 0;
    margin: 0 25px 0 25px;
}
.column>label{
    display: block;
    margin-bottom: 10px;
}
.columns>.column>.input{
    height: 55px;
    margin-bottom: 10px;
    width: 100%;
}
.columns>.column>button{
    height: 55px;width: 240px;
    margin: 40px 140px 0 130px;
    background-color: #077a39;
    color:#FFFFFF;
    font-size: 20px; 
}
/* #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  } */
.info{
    margin-bottom: 15px;
    color: #FF3838;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}
/* deuxieme page */
.columns>.column-radio{
    padding: 20px 0 0 20px;
    margin: 0 25px 10px 25px;
    height: 50px;
    border: solid 1px #DDDDDD;
 
}
.columns>.column-radio>input{
    font-size: 70px;
    height: 20px; width: 20px;
    padding: 20px;
}
.columns>.column-radio>input:checked{
        background-color:#05e76b;
        color:#05e76b;
}
.columns>.column-radio:hover {
    border: solid 1px #05e76b;
}

.columns>.column-radio>label{
    font-size: 25px;
    padding: 20px;
    color: #555555;
}
.columns>.column-btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}
.columns>.column-btn>button{
    color: #FFFFFF;
    margin: 0 40px 0 40px;
    height: 70px; 
    border: solid 1px;
}
.next{
    color: #FFFFFF;
    border: solid 1px;
    background: #028A3D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.quit{
    color: #FFFFFF;
    border: solid 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    background: #EC880C;
    color: #2d2626;
}

.head2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    margin-bottom: 40px;
}
.progressCont{
    display: grid;
    grid-template-areas: 'txt timer' 'progress progress'  ;
    margin-top: 30px;
}
.progressTimer{
    grid-area: timer;
    font-size: 20px;
    text-align: end;
    padding-right: 20px;
    color: #555555;
}
.progressText{
    grid-area: txt;
   font-size: 20px;
   padding-left: 20px;
   color: #555555;
}
progress{
    margin: 10px 25px;
    width: 90%;
    grid-area: progress;
    height: 20px;
}

button{
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #81db96;
  color: #666666;
}

.title{
    text-align: center;
    margin: 25% 0 40px 0 ;
}
.title>h3{
    padding-bottom: 20px;
    font-size: 25px;
    color: #555555;
}
.title>h5{
    /* padding-bottom: 30px; */
    font-size: 20px;
    color: #555555;
}
.page>p{
    font-size: 25px;
    margin: 20px;
    color: #555555;
}
.home_btn{
    margin-top: 40px;
    width: 180px;
    height: 50px;
    color: whitesmoke;
    background-color: #2281e6;
    border: none;; font-size: 25px;
}
.success{
    justify-content: center;
    /* height: 150px; */
}
.success>.far{
    font-size: 200px;
}

.success>.fa-check-circle{
    color:#028A3D;
}

.fa-times-circle{
    color:#d00e0e;
}
.page{
    text-align: center;
}

@media screen and (width < 650px) {
    #main{
        width: 100%;
        height: 100%;
    }  
}

